.card__paragrahp {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--gray);
}

@media screen and (max-width: 420px) {
    .card__paragrahp {
        font-size: 14px;
    }
}