.card__label {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    border-radius: 4px;
    width: 82px;
    height: 29px;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.card__label:hover {
    background-color: var(--black);
    color: var(--yellow);
}

@media screen and (max-width: 420px) {
    .card__label {
        width: 73px;
        height: 26px;
        font-size: 12px;
    }
}